
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #253334;
    --foreground: #ffffff;
    --primary: #7c9a92;
    --primary-foreground: #ffffff;
    --secondary: #253334;
    --secondary-foreground: #b3ffffff;
    --tertiary: #7c9a92;
    --alternate: #262d34;
    --card: #253334;
    --card-foreground: #ffffff;
    --popover: #262d34;
    --popover-foreground: #ffffff;
    --muted: #253334;
    --muted-foreground: #b3ffffff;
    --accent1: #4c4b39ef;
    --accent2: #4d39d2c0;
    --accent3: #4dee8b60;
    --accent4: #b2262d34;
    --success: #249689;
    --error: #ff5963;
    --warning: #f9cf58;
    --info: #ffffff;
    --custom1: #acacac;
    --custom2: #bec2c2;
    --radius: 0.5rem;
  }
  .dark {
    /* Use same palette for dark for now */
    --background: #253334;
    --foreground: #ffffff;
    --primary: #7c9a92;
    --primary-foreground: #ffffff;
    --secondary: #253334;
    --secondary-foreground: #b3ffffff;
    --card: #253334;
    --card-foreground: #ffffff;
    --popover: #262d34;
    --popover-foreground: #ffffff;
    --muted: #253334;
    --muted-foreground: #b3ffffff;
    --accent1: #4c4b39ef;
    --accent2: #4d39d2c0;
    --accent3: #4dee8b60;
    --accent4: #b2262d34;
    --success: #249689;
    --error: #ff5963;
    --warning: #f9cf58;
    --info: #ffffff;
    --custom1: #acacac;
    --custom2: #bec2c2;
  }
}
@layer base {
  * { @apply border-border; }
  body { @apply bg-background text-foreground antialiased; }
}
