
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* LIGHT MODE COLORS */
    --background: 244 48% 97%;
    --foreground: 222.2 84% 4.9%;
    --primary: 221 97% 78%;               /* #8e97fd */
    --primary-foreground: 0 0% 100%;      /* #ffffff */
    --secondary: 164 12% 19%;             /* #253334 */
    --secondary-foreground: 221 97% 78%;  /* #8e97fd */
    --tertiary: 156 9% 61%;               /* #7c9a92 */
    --alternate: 262 12% 19%;             /* #e0e3e7 */
    --primary-text: 250 19% 25%;          /* #3f414e */
    --secondary-text: 260 18% 39%;        /* #a1a4b2 */
    --primary-bg: 256 14% 96%;            /* #f5f5f9 */
    --secondary-bg: 250 19% 25%;          /* #3f414e */

    --accent-1: 246 57% 39%;              /* #4c4b39ef */
    --accent-2: 186 23% 43%;              /* #4d39d2c0 */
    --accent-3: 146 61% 23%;              /* #4dee8b60 */
    --accent-4: 357 62% 48%;              /* #b2262d34 */
    --success: 165 61% 36%;               /* #249689 */
    --error: 3 100% 69%;                  /* #ff5963 */
    --warning: 43 97% 67%;                /* #f9cf58 */
    --info: 0 0% 100%;                    /* #ffffff */

    --custom-1: 0 0% 80%;                 /* #acacac */
    --custom-2: 120 10% 81%;              /* #bec2c2 */

    --radius: 0.5rem;
  }

  .dark {
    /* DARK MODE COLORS */
    --background: 164 12% 19%;            /* #253334 */
    --foreground: 0 0% 100%;              /* #ffffff */
    --primary: 156 9% 61%;                /* #7c9a92 */
    --primary-foreground: 0 0% 100%;      /* #ffffff */
    --secondary: 156 9% 61%;              /* #7c9a92 */
    --secondary-foreground: 164 12% 19%;  /* #253334 */
    --tertiary: 156 9% 61%;               /* #7c9a92 */
    --alternate: 235 11% 20%;             /* #262d34 */
    --primary-text: 0 0% 100%;            /* #ffffff */
    --secondary-text: 0 0% 70%;           /* #b3b3b3 */
    --primary-bg: 164 12% 19%;            /* #253334 */
    --secondary-bg: 0 0% 90%;             /* #e6ffffff */

    --accent-1: 246 57% 39%;              /* #4c4b39ef */
    --accent-2: 186 23% 43%;              /* #4d39d2c0 */
    --accent-3: 146 61% 23%;              /* #4dee8b60 */
    --accent-4: 357 62% 48%;              /* #b2262d34 */
    --success: 165 61% 36%;               /* #249689 */
    --error: 3 100% 69%;                  /* #ff5963 */
    --warning: 43 97% 67%;                /* #f9cf58 */
    --info: 0 0% 100%;                    /* #ffffff */

    --custom-1: 0 0% 80%;                 /* #acacac */
    --custom-2: 120 10% 81%;              /* #bec2c2 */
  }
}

@layer base {
  * {
    @apply border-border;
    scroll-behavior: smooth;
  }
  body {
    @apply bg-background text-foreground antialiased;
  }
}
